* {
    /*
    margin: 0%;
    padding: 0%;
    */
}
.none-v {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.container {
    margin: 2em 10em;
}

a {
    text-decoration: none;
}
/*BARA DE NAVEGACION*/


/*TOP*/
.fondo-top {
    position: relative;
    background-image: url(img/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40em;
}
.contetop {
    position: absolute;
    bottom: 0;
}
/*CONTENIDO*/
.grid-content {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
}
.notice {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.notice article {
    position: relative;
    height: 30em;
    background-image: url(img/top.jpg);
}
.notice article a .conte {
    position: absolute;
    bottom: 0px;
}