body{
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}

* {
    margin: 0px;
    padding: 0px;
}

img {
    visibility: hidden;
}

.none-v {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.container {
    margin: 2em 10em;
}

a {
    text-decoration: none;
}
/*BARA DE NAVEGACION*/


/*TOP*/
.fondo-top {
    position: relative;
    background-image: url(img/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40em;
}
.contetop {
    position: absolute;
    bottom: 0;
}
/*CONTENIDO*/
.grid-content {
    /*algo*/
}
/*DOBLES*/
.notice {
    display: grid;
    grid-template-columns: 50% 50%;
}
.notice article {
    position: relative;
    height: 30em;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.notice article a .conte {
    position: absolute;
    bottom: 0px;
}
/*CUATRO*/
.notices {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}

.notices article a div.imagen-article {
    background-image: url(img/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
}

